
    <nav class="">
        <div class="logo">
            <img src="{{app.config.company.logo}}" alt="">
        </div>
        <ul class="menu">
            <li  class="active"><a href="/admin"><ion-icon name="speedometer-outline"></ion-icon></a></li>
            <hr>
            <li><a href="/admin/users"><ion-icon name="people-outline"></ion-icon></a></li>
            <hr>
            <li><a href="/admin/plans"><ion-icon name="storefront-outline"></ion-icon></a></li>
            <li><a href="/admin/categories"><ion-icon name="copy-outline"></ion-icon></a></li>
            <li><a href="/admin/servers"><ion-icon name="server-outline"></ion-icon></a></li>
            <hr>
            <li><a href="/admin/settings"><ion-icon name="cog-outline"></ion-icon></a></li>

        </ul>

        <ul class="menu">
            <li style="visibility: hidden;"></li>
        </ul>
    </nav>

    <section class="container">
        <form  method="get" action="/" class="info">
            <a href="" class="card">
                <div class="icon">
                    <ion-icon name="hand-right-outline"></ion-icon>                
                </div>
                <div class="text">
                    <span class="value" id="usersCount">
                        {{hostStats.users}}
                    </span>
                    <p class="desc">
                        Utilisateurs inscrits
                    </p>
                </div>
            </a>
            <a href=""  class="card">
                <div class="icon">
                    <ion-icon name="happy-outline"></ion-icon>                
                </div>
                <div class="text">
                    <span class="value">
                        {{hostStats.clients}}
                    </span>
                    <p class="desc">
                        Client satisfait
                    </p>
                </div>
            </a>
            <a href="" class="card">
                <div class="icon">
                    <ion-icon name="layers-outline"></ion-icon>
                </div>
                <div class="text">
                    <span class="value">
                        {{hostStats.services}}
                    </span>
                    <p class="desc">
                        Services actifs
                    </p>
                </div>
            </a>
            <a href=""  class="card">
                <div class="icon">
                    <ion-icon name="speedometer-outline"></ion-icon>
                </div>
                <div class="text">
                    <span class="value">
                        {{hostStats.servers}}
                    </span>
                    <p class="desc">
                        Serveur en production
                    </p>
                </div>
            </a>
        </form>

        <footer>
            <span>Copyright © {{app.config.company.name}}</span>
            <span>TxCMS - {{system.version}}</span>
        </footer>

    </section>


<section class="profile_bar">

    <div class="user">
        <a class="logo" href="/client/profile">
            <img id="userlogo" src="" alt="">
            <script>
                    if("{{user.logo}}" == ""){
                        
                        if("{{user.sex}}" == "male"){
                            document.getElementById('userlogo').src = "/images/male-logo.png"
                        } 

                        if("{{user.sex}}" == "female"){
                            document.getElementById('userlogo').src = "/images/female-logo.png"
                        }

                    }else{
                        document.getElementById('userlogo').src = "{{user.logo}}"
                    }
                </script>
            <span class="username">{{user.lastname}} {{user.name}}</span>
        </a>
        <div>
            <span class="email">{{user.email}}</span>
            <br>
            <span class="id">tx-{{user.id}}</span>
        </div>

        <form action="/client/logout" method="post">
            <button type="submit">Me déconnecter</button>
        </form>

    </div>
    <div class="menu">
        <span class="title">Raccourcis</span>
        <ul>
            <li>
                <a href="/client/shop/cart">
                    <div class="icon">
                        <ion-icon name="card-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Panier</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/client/profile/emails">
                    <div class="icon">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Emails reçus</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/client/help">
                    <div class="icon">
                        <ion-icon name="help-buoy-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Centre d'aide</span>
                    </div>
                </a>
            </li>

            <li id="admin">
                <a href="/client">
                    <div class="icon">
                        <ion-icon name="settings-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Espace client</span>
                    </div>
                </a>
            </li>
                <script>
                    if("{{user.role}}" == "admin"){
                        document.getElementById("admin").style.display = "block";
                    }else{
                        document.getElementById("admin").style.display = "none";
                    }
                </script>
        </ul>
    </div>
</section>


