 <nav class="">
    <div class="logo">
        <img src="{{app.config.company.logo}}" alt="">
    </div>
    <ul class="menu">
        <li><a href="/admin"><ion-icon name="speedometer-outline"></ion-icon></a></li>
        <hr>
        <li><a href="/admin/users"><ion-icon name="people-outline"></ion-icon></a></li>
        <hr>
        <li><a href="/admin/plans"><ion-icon name="storefront-outline"></ion-icon></a></li>
        <li class="active"><a href="/admin/categories"><ion-icon
                    name="copy-outline"></ion-icon></a></li>
        <li><a href="/admin/servers"><ion-icon name="server-outline"></ion-icon></a></li>
        <hr>
        <li><a href="/admin/settings"><ion-icon name="cog-outline"></ion-icon></a></li>
    </ul>

    <ul class="menu">
        <li><a href="/client"><ion-icon name="home-outline"></ion-icon></a></li>
    </ul>
</nav>


<section class="container register">
    <div class="notice">
        <span class="title">Informations : </span>
        <ul>
            <li>Ne pas mettre des noms de catégorie dupliqué. </li>
            <li>Merci de bien activer le serveur de catégorie sélectioner.</li>
            <li>Choisir un des trois serveurs : Pterodactyl, Proxmox, Plesk.</li>
        </ul>
    </div>
</section>

<section class="profile_bar register">
    <div class="logoText">
        <img src="/images/logo-text.png" classe="" alt="">
        <h2>Gérer une offre Proxmox/Pterodactyl</h2>
    </div>
    <form action="/admin/categories/edit/:id" method="post">
        <input style="display:none" type="text" name="id" id="id"
            value={{category.id}}>
        <section class="formInput">
            <div>
                <label for="name">Nom de la catégorie</label>
                <br>
                <input style="text-transform:capitalize;" type="text" name="name" id="name" required
                    value={{category.name}}>
            </div>
            <div>
                <label for="category">Serveur</label>
                <br>
                <select style="text-transform:capitalize;" name="server"
                    id="server" disabled>
                    {{#each server}}
                    <option value={{id}}>{{name}}</option>
                    {{/each}}
                </select>

                <script>
                            document.getElementById('server').value = `{{category.server}}`
                        </script>
            </div>
        </section>

        <section class="formInput">
            <div>
                <label for="auto">Livraison</label>
                <br>
                <select name="auto" id="auto">
                    <option value="1">Automatique</option>
                    <option value="0">Manuelle</option>
                </select>
                <script>
                            document.getElementById('auto').value = `{{category.auto}}`
                        </script>
            </div>
        </section>

        <button type="submit">Sauvegarder</button>
    </form>
</section>


<style>
        .hide{
            display: none;
        }

        .show{
            display: block;
        }
    </style>
<script>
   const categoryType = document.getElementById('planType').value
   const pterodactylOptions = document.querySelector('.pterodactylOptions')
   const proxmoxOptions = document.querySelector('.proxmoxOptions')

   console.log(categoryType)
    if (categoryType == 'pterodactyl'){
        pterodactylOptions.classList.add('show')
    }else{
        pterodactylOptions.classList.add('hide')
    }

    if (categoryType == 'proxmox'){
        proxmoxOptions.classList.add('show')

    }else{
        proxmoxOptions.classList.add('hide')
    }

    </script>