    <nav class="">
        <div class="logo">
            <img src="/images/logo.png" alt="">
        </div>
        <ul class="menu">
            <li><a href="/admin"><ion-icon name="speedometer-outline"></ion-icon></a></li>
            <hr>
            <li><a href="/admin/users"><ion-icon name="people-outline"></ion-icon></a></li>
            <hr>
            <li><a href="/admin/plans"><ion-icon name="storefront-outline"></ion-icon></a></li>
            <li  class="active"><a href="/admin/categories"><ion-icon name="copy-outline"></ion-icon></a></li>
            <li><a href="/admin/servers"><ion-icon name="server-outline"></ion-icon></a></li>
            <hr>
            <li><a href="/admin/settings"><ion-icon name="cog-outline"></ion-icon></a></li>
        </ul>

        <ul class="menu">
            <li><a href="/client"><ion-icon name="home-outline"></ion-icon></a></li>
        </ul>
    </nav>

    
    
    <section class="container">

        <div class="tables">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom de la catégorie</th>
                            <th>Serveur</th>
                            <th>Livraison</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each categorie}}
                            <tr>
                                <td>{{id}}</td>
                                <td style="text-transform:capitalize;">{{name}}</td>
                                <td style="text-transform:capitalize;">{{server}}</td>
                                {{#if auto}}
                                <td class="state actif"> <label for="">Automatique</label></td>
                                {{else}}
                                <td class="state inactif"> <label for="">Manuelle</label></td>
                                {{/if}}

                                <td>
                                    <a href="/admin/categories/edit/{{id}}">Gérer</a>
                                    <form enctype="multipart/form-data" action="/admin/categories/delete/{{id}}" method="post">
                                        <button class="danger" type="submit">Suprimé</button>
                                    </form>
                                </td>
                            </tr>

                            {{else}}

                            <tr>
                                <td colspan="6">Aucun offre n'a était créé sur votre TxCMS</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="createButtons">
            <a href="/admin/categories/create">Crée une offre</a>
        </div>

        <footer>
            <span>Copyright © {{app.config.company.name}}</span>
            <span>TxCMS - {{system.version}}</span>
        </footer>

    </section>

    <section class="profile_bar">

        {{#if success_message}}

            <div class="notif success" role="alert">
                <h2>Succès</h2>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <ion-icon name="close-outline"></ion-icon>
                </button>
                <p class="content">{{success_message}}</p>
            </div>

        {{/if}}


        {{#if error_message}}

            <div class="notif error" role="alert">
                <h2>Erreur</h2>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <ion-icon name="close-outline"></ion-icon>
                </button>
                <p class="content">{{error_message}}</p>
            </div>

        {{/if}}


    </section>