<nav class="">
    <div class="logo">
        <img src="{{config.host.logo}}" alt="">
    </div>
    <ul class="menu">
        <li class="active"><a href="/client"><ion-icon name="home-outline"></ion-icon></a></li>
        <li><a href="/client/shop"><ion-icon name="cart-outline"></ion-icon></a></li>
    </ul>

    <ul class="menu">
    </ul>
</nav>



<section class="container">

    {{#if success_messages}}
    <div class="notif success">
        <span class="title">Bravo ! </span>
        <span class="message">{{success_messages}}</span>
        <span class="close" id="close">
            <ion-icon name="close-outline"></ion-icon>
        </span>
    </div>

    <script>
        $('#close').click(() => {
            $('.notif').fadeTo(300, 0.01, function () {
                $(this).slideUp(300, function () {
                    $(this).remove();
                });
            });
        })
    </script>
    {{/if}}

    {{#if error_messages}}
    <div class="notif error">
        <span class="title">Messages d'erreur ! </span>
        <span class="message">{{error_messages}}</span>
        <span class="close" id="close">
            <ion-icon name="close-outline"></ion-icon>
        </span>
    </div>

    <script>
        $('#close').click(() => {
            $('.notif').fadeTo(300, 0.01, function () {
                $(this).slideUp(300, function () {
                    $(this).remove();
                });
            });
        })
    </script>
    {{/if}}

    <div class="info">
        <a href="/client/profile/wallet" class="card">
            <div class="icon">
                <ion-icon name="wallet-outline"></ion-icon>
            </div>
            <div class="text">
                <span class="value">
                    {{stats.wallet}}€
                </span>
                <p class="desc">
                    Le montant de votre porte feuille
                </p>
            </div>
        </a>
        <a href="" class="card">
            <div class="icon">
                <ion-icon name="albums-outline"></ion-icon>
            </div>
            <div class="text">
                <span class="value">
                    {{stats.services}}
                </span>
                <p class="desc">
                    Le nombre des services actifs
                </p>
            </div>
        </a>
        <a href="/client/transactions" class="card">
            <div class="icon">
                <ion-icon name="receipt-outline"></ion-icon>
            </div>
            <div class="text">
                <span class="value">
                    {{stats.transactions}}
                </span>
                <p class="desc">
                    Le nombre de toutes vos transactions
                </p>
            </div>
        </a>
        <a href="" class="card">
            <div class="icon">
                <ion-icon name="ticket-outline"></ion-icon>
            </div>
            <div class="text">
                <span class="value">
                    {{stats.tickets}}
                </span>
                <p class="desc">
                    Le nombre de vos demandes ouvertes
                </p>
            </div>
        </a>
    </div>
    <div class="services">
        <span class="title">Vos services</span>
        <div class="tables">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom du produit</th>
                        <th>Temps restant</th>
                        <th>État</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each services}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{time}} Jours</td>
                        <td class="state {{state}}"> <label>{{state}}</label></td>
                        <td style="display: flex;">
                            <button onclick="location.href='/client/services/{{id}}';"><ion-icon
                                    name="cog-outline"></ion-icon></button>
                        </td>
                    </tr>
                    {{else}}

                    <tr>
                        <td colspan="5">Vous avez aucuns service relier a ce
                            compte.</td>
                    </tr>

                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <footer>
        <span>Copyright © {{config.host.name}}</span>
        <span>TxCMS - {{system.version}}</span>
    </footer>
</section>

<section class="profile_bar">

    <div class="user">
        <a class="logo" href="/client/profile">
            <img id="userlogo" src="" alt="">
            <script>
                if ("{{user.logo}}" == "") {

                    if ("{{user.sex}}" == "male") {
                        document.getElementById('userlogo').src = "/images/male-logo.png"
                    }

                    if ("{{user.sex}}" == "female") {
                        document.getElementById('userlogo').src = "/images/female-logo.png"
                    }

                } else {
                    document.getElementById('userlogo').src = "{{user.logo}}"
                }
            </script>
            <span class="username">{{user.lastname}} {{user.name}}</span>
        </a>
        <div>
            <span class="email">{{user.email}}</span>
            <br>
            <span class="id">tx-{{user.id}}</span>
        </div>

        <form action="/client/logout" method="post">
            <button type="submit">Me déconnecter</button>
        </form>

    </div>
    <div class="menu">
        <span class="title">Raccourcis</span>
        <ul>
            <li>
                <a href="/client/shop/cart">
                    <div class="icon">
                        <ion-icon name="card-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Panier</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/client/profile/emails">
                    <div class="icon">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Emails reçus</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/client/help">
                    <div class="icon">
                        <ion-icon name="help-buoy-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Centre d'aide</span>
                    </div>
                </a>
            </li>

            <li id="admin">
                <a href="/admin">
                    <div class="icon">
                        <ion-icon name="settings-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Administration</span>
                    </div>
                </a>
            </li>
            <script>
                if ("{{user.role}}" == "admin") {
                    document.getElementById("admin").style.display = "block";
                } else {
                    document.getElementById("admin").style.display = "none";
                }
            </script>
        </ul>
    </div>
</section>