
    <nav class="">
        <div class="logo">
            <img src="/images/logo.png" alt="">
        </div>
        <ul class="menu">
            <li class="active"><a href="/client"><ion-icon name="home-outline"></ion-icon></a></li>
            <li><a href="/client/shop"><ion-icon name="cart-outline"></ion-icon></a></li>
        </ul>

        <ul class="menu hide" id="adminmenu">
            <li style="visibility:hidden;"><a href="/admin"><ion-icon name="settings-outline"></ion-icon></a></li>
        </ul>

        <style>
            .hide{
                display:  !important;
                cursor: not-allowed;
            }

            .show{
                display: block !important;
            }
        </style>

        <script>
            if("{{user.role}}" == "null"){
                    document.getElementById("adminmenu").classList.add("hide")
            }else{
                if("{{user.role}}" == "admin"){
                    document.getElementById("adminmenu").classList.add("show")
                    document.getElementById("adminmenu").classList.remove("hide")
                }else{
                    document.getElementById("adminmenu").classList.add("hide")
                }
            }
        </script>
    </nav>


    
    <section class="container">
        <div class="info">
            <a href="" class="card">
                <div class="icon">
                    <ion-icon name="wallet-outline"></ion-icon>                
                </div>
                <div class="text">
                    <span class="value">
                        {{user.wallet}}€
                    </span>
                    <p class="desc">
                        Le montant de votre porte feuille 
                    </p>
                </div>
            </a>
            <a href=""  class="card">
                <div class="icon">
                    <ion-icon name="albums-outline"></ion-icon>                
                </div>
                <div class="text">
                    <span class="value">
                        {{user.services}}
                    </span>
                    <p class="desc">
                        Le nombre des services actifs
                    </p>
                </div>
            </a>
            <a href="" class="card">
                <div class="icon">
                    <ion-icon name="receipt-outline"></ion-icon>
                </div>
                <div class="text">
                    <span class="value">
                        {{user.transactions}}
                    </span>
                    <p class="desc">
                        Le nombre de toutes vos transactions
                    </p>
                </div>
            </a>
            <a href=""  class="card">
                <div class="icon">
                    <ion-icon name="ticket-outline"></ion-icon>
                </div>
                <div class="text">
                    <span class="value">
                         {{user.tikets}}
                    </span>
                    <p class="desc">
                        Le nombre de vos demandes ouvertes
                    </p>
                </div>
            </a>
        </div>
        <div class="services">
            <span class="title">Vos services</span>
            <div class="tables">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom du produit</th>
                            <th>Temps restant</th>
                            <th>État</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each services}}
                        <tr>
                            <td>1</td>
                            <td>TX-2 Game</td>
                            <td>22 Jours</td>
                            <td class="state actif"> <label for="">Actif</label></td>
                            <td><button onclick="location.href='/manager/pterodactyl.html'">Gérer</button></td>
                        </tr>
                        {{else}}

                        <tr>
                            <td colspan="5">Vous avez aucuns service relier a ce compte.</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <footer>
            <span>Copyright © {{app.config.company.name}}</span>
            <span>TxCMS - {{system.version}}</span>
        </footer>
    </section>

    <section class="profile">

        <div class="user">
            <a class="logo" href="/client/profile">
                <img id="userlogo" src="" alt="">
                <script>
                    if("{{user.logo}}" == ""){
                        
                        if("{{user.sexe}}" == "male"){
                            document.getElementById('userlogo').src = "/images/male-logo.png"
                        } 

                        if("{{user.sexe}}" == "female"){
                            document.getElementById('userlogo').src = "/images/female-logo.png"
                        }

                    }else{
                        document.getElementById('userlogo').src = "{{user.logo}}"
                    }
                </script>
                <span class="username">{{user.lastname}} {{user.name}}</span>
            </a>
            <div>
                <span class="email">{{user.email}}</span>
                <br>
                <span class="id">tx-{{user.id}}</span>
            </div>

            <form action="/client/logout" method="post">
                <button type="submit">Me déconnecter</button>
            </form>
            
        </div>
        <div class="menu">
            <span class="title">Raccourcis</span>
            <ul>
                <li>
                    <a href="">
                        <div class="icon">
                            <ion-icon name="card-outline"></ion-icon>
                        </div>
                        <div class="text">
                            <span>Moyen de paiment </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="icon">
                            <ion-icon name="mail-outline"></ion-icon>
                        </div>
                        <div class="text">
                            <span>Emails reçus</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="icon">
                            <ion-icon name="help-buoy-outline"></ion-icon>
                        </div>
                        <div class="text">
                            <span>Centre d'aide</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

