 <nav class="">

    <div class="logo">
        <img src="{{app.config.company.logo}}" alt="">
    </div>
    <ul class="menu">
        <li><a href="/client"><ion-icon name="home-outline"></ion-icon></a></li>
        <li><a href="/client/shop"><ion-icon name="cart-outline"></ion-icon></a></li>
        <li class="active"><a href=""><ion-icon name="albums-outline"></ion-icon></a></li>
    </ul>


    <ul class="menu">
    </ul>
</nav>

<section class="container" id="entry-template">
    <span style="margin-bottom: 2%;" class="title">Gestion du service :
        {{server.name}}</span>

    <div class="info">
        <a href="" class="card perf">
            <div class="icon">
                <ion-icon name="hardware-chip-outline"></ion-icon>
            </div>
            <div class="text">
                <span class="value" id="cpu_rate">
                </span>
                <p class="desc">
                    Utilisation du CPU
                </p>
            </div>
        </a>
        <a href="" class="card perf">
            <div class="icon">
                <ion-icon name="pulse-outline"></ion-icon>
            </div>
            <div class="text">
                <span class="value" id="ram_rate">
                </span>
                <p class="desc">
                    Utilisation de la RAM
                </p>
            </div>
        </a>
        <a href="" class="card perf">
            <div class="icon">
                <ion-icon name="save-outline"></ion-icon>
            </div>
            <div class="text">
                <span class="value" id="disk_rate">
                </span>
                <p class="desc">
                    Utilisation du Disque
                </p>
            </div>
        </a>
        <a href="" class="card perf">
            <div class="icon">
                <ion-icon name="swap-vertical-outline"></ion-icon>
            </div>
            <div class="text">
                <span class="value" id="net_rate">
                </span>
                <p class="desc">
                    Utilisation Traffic réseau
                </p>
            </div>
        </a>

        <script>
            $(document).ready(async function () {
                await WebSocketActions();
            });

            function WebSocketActions() {
                $.ajax({
                    url: `${origin}/client/services/{{params.id}}/terminal`,
                    method: "POST",
                    data: { action: "fetch" },
                    dataType: "JSON",
                    success: function () {
                    $("#terminalCommande").focus();

                    const ws = new WebSocket("ws://localhost:2005");
                    var term = new Terminal(),
                        fit = new FitAddon.FitAddon();

                    term.loadAddon(fit);

                    ws.onopen = () => {
                        term.open(document.getElementById("terminal"));
                        term.write(
                        "\033[95m[TxCMS]\033[39m Connexion vers votre container pterodactyl.... \n\r"
                        );
                        ws.onmessage = (msg) => {
                        let messages = msg.data;

                        function formatSizeUnits(bytes) {
                            if (bytes >= 1073741824) {
                            bytes = (bytes / 1073741824).toFixed(2) + " Gb";
                            } else if (bytes >= 1048576) {
                            bytes = (bytes / 1048576).toFixed(2) + " Mb";
                            } else if (bytes >= 1024) {
                            bytes = (bytes / 1024).toFixed(2) + " Kb";
                            } else {
                            bytes = "0 Kb";
                            }
                            return bytes;
                        }

                        if (messages.includes("cpu_absolute")) {
                            let ressources = JSON.parse(JSON.parse(messages)[0]);
                            let cpu_rate = Number(ressources.cpu_absolute).toFixed(2);

                            $("#disk_rate").html(formatSizeUnits(ressources.disk_bytes));
                            $("#ram_rate").html(formatSizeUnits(ressources.memory_bytes));
                            $("#cpu_rate").html(cpu_rate + " %");
                            $("#net_rate").html(
                            formatSizeUnits(
                                Number(
                                ressources.network.rx_bytes + ressources.network.tx_bytes
                                ) / 2
                            ) + "/s"
                            );
                        } else {
                            term.write(messages + "\r\n");
                        }
                        fit.fit();
                        };

                        $('#bootBTN').click(() => {
                            ws.send(JSON.stringify({ event:"set state", args: ["start"]}))
                        })

                        
                        $('#rebootBTN').click(() => {
                            ws.send(JSON.stringify({ event:"set state", args: ["restart"]}))
                        })

                        
                        $('#stopBTN').click(() => {
                            ws.send(JSON.stringify({ event:"set state", args: ["stop"]}))
                        })

                        
                        $('#killBTN').click(() => {
                            ws.send(JSON.stringify({ event:"set state", args: ["kill"]}))
                        })

                        $('#terminalCommande').keypress(function(event){
                            var keycode = (event.keyCode ? event.keyCode : event.which);
                            if(keycode == '13'){
                            ws.send(JSON.stringify({ event:"send command", args: [$(this).val()]}))
                            $(this).val('')
                        }
                        });

                    };
                    ws.onerror = function connection(err) {
                        console.error(err);
                    };
                    },
                });
                }
        </script>
    </div>

    <div class="actions">
        <button id="bootBTN"
            class="boot">Démarrer</button>
        <button id="rebootBTN"
            class="reboot">Redémarrer</button>
        <button id="stopBTN"
            class="stop">Stopper</button>
        <button id="killBTN"
            class="kill">Tuer</button>
    </div>


    <div class="terminalConsole">
        <div class="console" id="terminal"></div>
        <div class="commands">
            <div class="icon">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
            <input type="text" name="terminalCommande" id="terminalCommande"
                autocomplete="off" autocapitalize="off"
                placeholder="Tapez une commande....">
        </div>
    </div>

</section>

<section class="profile_bar">
    <div class="server">
        <span> Nom : {{server.name}}</span>
        <span> IP : {{server.ip}} </span>
        <span> Port : {{server.port}}</span>
        <span> Node : {{server.node}}</span>
    </div>
    <div class="menu">
        <span class="title">Raccourcis</span>
        <ul>
            <li>
                <a href="">
                    <div class="icon">
                        <ion-icon name="server-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Ouvrir PhpMyAdmin</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/client/services/{{params.id}}/files">
                    <div class="icon">
                        <ion-icon name="folder-open-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Gestionaire de fichier</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon">
                        <ion-icon name="rocket-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Option de démarage</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Sous-Utilisateurs</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>