    <nav class="">
        <div class="logo">
            <img src="{{app.config.company.logo}}" alt="">
        </div>
        <ul class="menu">
            <li><a href="/admin"><ion-icon name="speedometer-outline"></ion-icon></a></li>
            <hr>
            <li  class="active"><a href="/admin/users"><ion-icon name="people-outline"></ion-icon></a></li>
            <hr>
            <li><a href="/admin/plans"><ion-icon name="storefront-outline"></ion-icon></a></li>
            <li><a href="/admin/categories"><ion-icon name="copy-outline"></ion-icon></a></li>
            <li><a href="/admin/servers"><ion-icon name="server-outline"></ion-icon></a></li>
            <hr>
            <li><a href="/admin/settings"><ion-icon name="cog-outline"></ion-icon></a></li>

        </ul>

        <ul class="menu">
            <li style="visibility: hidden;"></li>
        </ul>
    </nav>
    
    
    <section class="container">

        <div class="tables">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>sex</th>
                            <th>Date de naissance</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <style>

                            table {
                                 page-break-before:always; 
                                 align-content: center;
                            }

                            td {
                                text-transform: capitalize;
                                width: auto;
                            }

                            td.logo {
                                width: 10%;
                                margin: auto;
                            }

                            td.logo img {
                                width: 40%;
                                border-radius: 100%;
                            }

                        </style>
                        {{#each users}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{name}} {{lastname}}</td>
                                <td style="text-transform:inherit;">{{email}}</td>
                                <td>{{sex}}</td>
                                <td>{{birthday}}</td>
                                <td>{{role}}</td>
                                <td>
                                    <a href="/admin/users/edit/{{id}}">Gérer</a>
                                    <a class="normal" href="/admin/users/mail/{{email}}">Mail</a>
                                    <form  action="/admin/users/delete/{{id}}" method="post">
                                        <button class="danger" type="submit">Suprimé</button>
                                    </form>
                                </td>
                            </tr>
                            {{else}}

                            <tr>
                                <td colspan="7">Aucun utilisateurs n'est inscrit sur votre TxCMS</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="createButtons">
            <a href="/admin/users/create">Crée un utilisateur</a>
        </div>

        <footer>
            <span>Copyright © {{app.config.company.name}}</span>
            <span>TxCMS - {{system.version}}</span>
        </footer>

    </section>

<section class="profile_bar">

    <div class="user">
        <a class="logo" href="/client/profile">
            <img id="userlogo" src="" alt="">
            <script>
                    if("{{user.logo}}" == ""){
                        
                        if("{{user.sex}}" == "male"){
                            document.getElementById('userlogo').src = "/images/male-logo.png"
                        } 

                        if("{{user.sex}}" == "female"){
                            document.getElementById('userlogo').src = "/images/female-logo.png"
                        }

                    }else{
                        document.getElementById('userlogo').src = "{{user.logo}}"
                    }
                </script>
            <span class="username">{{user.lastname}} {{user.name}}</span>
        </a>
        <div>
            <span class="email">{{user.email}}</span>
            <br>
            <span class="id">tx-{{user.id}}</span>
        </div>

        <form action="/client/logout" method="post">
            <button type="submit">Me déconnecter</button>
        </form>

    </div>
    <div class="menu">
        <span class="title">Raccourcis</span>
        <ul>
            <li>
                <a href="/client/shop/cart">
                    <div class="icon">
                        <ion-icon name="card-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Panier</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/client/profile/emails">
                    <div class="icon">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Emails reçus</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/client/help">
                    <div class="icon">
                        <ion-icon name="help-buoy-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Centre d'aide</span>
                    </div>
                </a>
            </li>

            <li id="admin">
                <a href="/client">
                    <div class="icon">
                        <ion-icon name="settings-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Espace client</span>
                    </div>
                </a>
            </li>
                <script>
                    if("{{user.role}}" == "admin"){
                        document.getElementById("admin").style.display = "block";
                    }else{
                        document.getElementById("admin").style.display = "none";
                    }
                </script>
        </ul>
    </div>
</section>