<nav class="">
    <div class="logo">
        <img src="/images/logo.png" alt="">
    </div>
    <ul class="menu">
        <li><a href="/client"><ion-icon name="home-outline"></ion-icon></a></li>
        <li class="active"><a href="/client/shop"><ion-icon name="cart-outline"></ion-icon></a></li>
    </ul>

    <ul class="menu">
    </ul>
</nav>



<section class="container">
    <div class="return_box cancel">
        <div class="icon">
            <ion-icon name="close-outline"></ion-icon>
        </div>
        <div class="text">
            <span>Paiement refusé...</span>
            <span>Veuillez vérifier votre méthode de paiement.</span>
        </div>
        <div class="buttons">
            <button>Revenir a l'accueil </button>
        </div>
    </div>
</section>

<section class="profile_bar">

    <div class="user">
        <a class="logo" href="/client/profile">
            <img id="userlogo" src="" alt="">
            <script>
                    if("{{user.logo}}" == ""){
                        
                        if("{{user.sexe}}" == "male"){
                            document.getElementById('userlogo').src = "/images/male-logo.png"
                        } 

                        if("{{user.sexe}}" == "female"){
                            document.getElementById('userlogo').src = "/images/female-logo.png"
                        }

                    }else{
                        document.getElementById('userlogo').src = "{{user.logo}}"
                    }
                </script>
            <span class="username">{{user.lastname}} {{user.name}}</span>
        </a>
        <div>
            <span class="email">{{user.email}}</span>
            <br>
            <span class="id">tx-{{user.id}}</span>
        </div>

        <form action="/client/logout" method="post">
            <button type="submit">Me déconnecter</button>
        </form>

    </div>
    <div class="menu">
        <span class="title">Raccourcis</span>
        <ul>
            <li>
                <a href="">
                    <div class="icon">
                        <ion-icon name="card-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Moyen de paiment </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Emails reçus</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="icon">
                        <ion-icon name="help-buoy-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Centre d'aide</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>