    <nav class="">
        <div class="logo">
            <img src="{{config.host.logo}}" alt="">
        </div>
        <ul class="menu">
            <li><a href="/admin"><ion-icon name="speedometer-outline"></ion-icon></a></li>
            <hr>
            <li><a href="/admin/users"><ion-icon name="people-outline"></ion-icon></a></li>
            <hr>
            <li  class="active"><a href="/admin/plans"><ion-icon name="storefront-outline"></ion-icon></a></li>
            <li><a href="/admin/categories"><ion-icon name="copy-outline"></ion-icon></a></li>
            <li><a href="/admin/servers"><ion-icon name="server-outline"></ion-icon></a></li>
            <hr>
            <li><a href="/admin/settings"><ion-icon name="cog-outline"></ion-icon></a></li>
        </ul>

        <ul class="menu">
            <li><a href="/client"><ion-icon name="home-outline"></ion-icon></a></li>
        </ul>
    </nav>

    
    
    <section class="container">
        <span class="title">Liste de vos offres : </span>
        <div class="tables">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom du produit</th>
                            <th>Catégorie</th>
                            <th>Prix</th>
                            <th>État du stock</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each plans}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{name}}</td>
                                <td style="text-transform:capitalize;">{{category}}</td>
                                <td>{{price}}€</td>
                                {{#if stock}}
                                <td class="state actif"> <label for="">En stock : {{stock}}</label></td>
                                {{else}}
                                <td class="state inactif"> <label for="">Repture de stock</label></td>
                                {{/if}}

                                <td>
                                    <a href="/admin/plans/edit/{{id}}">Gérer</a>
                                    <a class="normal" href="/admin/plans/config/{{server}}/{{id}}">Config</a>
                                    <form  action="/admin/plans/delete/{{id}}" method="post">
                                        <button class="danger" type="submit">Suprimé</button>
                                    </form>
                                </td>
                            </tr>

                            {{else}}

                            <tr>
                                <td colspan="6">Aucune offre n'a était créé...</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="createButtons">
            <a href="/admin/plans/create">Crée une nouvelle offre</a>
        </div>

        <footer>
            <span>Copyright © {{app.config.company.name}}</span>
            <span>TxCMS - {{system.version}}</span>
        </footer>

    </section>

    <section class="profile_bar">

        {{#if success_message}}

            <div class="notif success" role="alert">
                <strong>{{success_message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span>$times;</span>
                </button>
            </div>

        {{/if}}

        {{#if error_message}}

            <div class="notif error" role="alert">
                <strong>{{error_message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span>$times;</span>
                </button>
            </div>

        {{/if}}


    </section>