<nav class="">
    <div class="logo">
        <img src="{{config.host.logo}}" alt="">
    </div>
    <ul class="menu">
        <li><a href="/admin">
                <ion-icon name="speedometer-outline"></ion-icon>
            </a></li>
        <hr>
        <li><a href="/admin/users">
                <ion-icon name="people-outline"></ion-icon>
            </a></li>
        <hr>
        <li class="active"><a href="/admin/plans">
                <ion-icon name="storefront-outline"></ion-icon>
            </a></li>
        <hr>
        <li><a href="/admin/addons">
                <ion-icon name="grid-outline"></ion-icon>
            </a></li>
        <li><a href="/admin/settings">
                <ion-icon name="cog-outline"></ion-icon>
            </a></li>
    </ul>

    <ul class="menu">
        <li><a href="/client">
                <ion-icon name="home-outline"></ion-icon>
            </a></li>
    </ul>
</nav>



<section class="container">


    {{#if success_messages}}
    <div class="notif success">
        <span class="title">Bravo ! </span>
        <span class="message">{{success_messages}}</span>
        <span class="close" id="close">
            <ion-icon name="close-outline"></ion-icon>
        </span>
    </div>

    <script>
        $('#close').click(() => {
            $('.notif').fadeTo(300, 0.01, function () {
                $(this).slideUp(300, function () {
                    $(this).remove();
                });
            });
        })
    </script>
    {{/if}}

    {{#if error_messages}}
    <div class="notif error">
        <span class="title">Messages d'erreur ! </span>
        <span class="message">{{error_messages}}</span>
        <span class="close" id="close">
            <ion-icon name="close-outline"></ion-icon>
        </span>
    </div>

    <script>
        $('#close').click(() => {
            $('.notif').fadeTo(300, 0.01, function () {
                $(this).slideUp(300, function () {
                    $(this).remove();
                });
            });
        })
    </script>
    {{/if}}

    <div class="tables">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom du Serveur</th>
                    <th>Nom d'hôte</th>
                    <th>Module lié</th>
                    <th>Cout mensuel</th>
                    <th>État</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each servers}}
                <tr>
                    <td>{{id}}</td>
                    <td style="text-transform:capitalize;">{{name}}</td>
                    <td>{{fqdn}}</td>
                    <td>{{addon}}</td>
                    <td>{{cost}}€</td>
                    {{#if state}}
                    <td class="state actif"> <label for="">Activé</label></td>
                    {{else}}
                    <td class="state inactif"> <label for="">Deactivé</label></td>
                    {{/if}}
                    <td>
                        <button onclick="location.href='/admin/plans/categories/servers/edit/{{id}}';"><ion-icon
                                name="brush-outline"></ion-icon></button>
                    </td>
                </tr>

                {{else}}

                <tr>
                    <td colspan="6">Aucun serveur n'a était relié sur votre TxCMS</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    </div>


    <div class="createButtons">
        <a href="/admin/plans/categories">Gérer les catégories</a>
    </div>

    <footer>
        <span>Copyright © {{app.config.company.name}}</span>
        <span>TxCMS - {{system.version}}</span>
    </footer>

</section>

<section class="profile_bar">
    <div class="user">
        <a class="logo" href="/client/profile">
            <img id="userlogo" src="" alt="">
            <script>
                if ("{{user.logo}}" == "") {
                    switch ("{{user.sex}}") {
                        case "male":
                            $('#userlogo').attr('src', "/images/male-logo.png");
                            break;
                        case "female":
                            $('#userlogo').attr('src', "/images/female-logo.png");
                            break;
                    }
                } else {
                    $('#userlogo').attr('src', "{{user.logo}}")
                }
            </script>
            <span class="username">{{user.lastname}} {{user.name}}</span>
        </a>
        <div>
            <span class="email">{{user.email}}</span>
            <br>
            <span class="id">tx-{{user.id}}</span>
        </div>

        <form action="/client/logout" method="post">
            <button type="submit">Me déconnecter</button>
        </form>

    </div>
    <div class="menu">
        <span class="title">Raccourcis</span>
        <ul>
            <li>
                <a href="/client/shop/cart">
                    <div class="icon">
                        <ion-icon name="card-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Panier</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/client/profile/emails">
                    <div class="icon">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Emails reçus</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/client/help">
                    <div class="icon">
                        <ion-icon name="help-buoy-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Centre d'aide</span>
                    </div>
                </a>
            </li>

            <li id="admin">
                <a href="/client">
                    <div class="icon">
                        <ion-icon name="settings-outline"></ion-icon>
                    </div>
                    <div class="text">
                        <span>Espace client</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>